html,
body {
  font-family: Artifika,sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.15;
  min-height: 100%;
}
body {
  /* colors from upload.wikimedia.org/wikipedia/commons/8/8d/Adobe_Flash_Player_SVG.svg */
  background: #B2181D;
  background: linear-gradient(135deg, #E81C24, #7C1315);
  color: #FFF;
  margin: 1ex 0 2em;
  text-align: center;
}

a {
  color: #FF9;
  display: inline-block;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #FF0;
  text-decoration: underline;
}
a:active {
  border: 1px solid #FC3;
}

h1 {
  font-size: 420%;
  font-size: 18vw;
  line-height: 1.1;
  margin: 0 0 0.5ex;
  text-shadow:
    -1px -1px 0 #800,
    1px 1px 0 #F00;
  text-transform: lowercase;
}
h1 b,
h1 span {
  vertical-align: text-bottom;
}
h1 b {
  font-size: 180%;
  margin-right: -0.1ex;
}

time {
  font-size: 130%;
  font-size: 6vw;
  line-height: 1.6;
}

@media (min-width: 801px) {
  h1 {
    font-size: 420%;
  }
  time {
    font-size: 140%;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 600%;
  }
  time {
    font-size: 200%;
  }
}
@media (min-width: 1300px) {
  h1 {
    font-size: 800%;
  }
  time {
    font-size: 300%;
  }
}
